<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yundao.tenant.mapper.msg.msgtemplatetyperef.MsgTemplateTypeRefMapper">

    <resultMap id="MsgTemplateTypeRefResult" type="com.yundao.tenant.model.base.msg.BaseMsgTemplateTypeRef" extends="com.yundao.tenant.mapper.base.msg.BaseMsgTemplateTypeRefMapper.BaseResultMap"> 
    </resultMap>
</mapper>
