<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yundao.tenant.mapper.cc.ccuseraccount.CcUserAccountMapper">

    <resultMap id="CcUserAccountResult" type="com.yundao.tenant.model.base.cc.BaseCcUserAccount" extends="com.yundao.tenant.mapper.base.cc.BaseCcUserAccountMapper.BaseResultMap"> 
    </resultMap>
</mapper>
