<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yundao.tenant.mapper.msg.msgfeed.MsgFeedMapper">

    <resultMap id="MsgFeedResult" type="com.yundao.tenant.model.base.msg.BaseMsgFeed" extends="com.yundao.tenant.mapper.base.msg.BaseMsgFeedMapper.BaseResultMap"> 
    </resultMap>
</mapper>
