<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yundao.tenant.mapper.customer.customerbank.CustomerBankMapper">

    <resultMap id="CustomerBankResult" type="com.yundao.tenant.model.base.customer.BaseCustomerBank" extends="com.yundao.tenant.mapper.base.customer.BaseCustomerBankMapper.BaseResultMap"> 
    </resultMap>
</mapper>
