<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yundao.tenant.mapper.aa.AaProductMapper">
    
  <resultMap id="productSimpleResDto" type="com.yundao.tenant.dto.product.ProductSimpleResDto">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="type_id" property="typeId" />
		<result column="typeName" property="typeName" />
		<result column="highlight" property="highlight" />
		<result column="time_limit" property="timeLimit" />
		<result column="buy_start_point" property="buyStartPoint" />
  </resultMap>
    
    <select id="getProductIds"  resultType="Long">
        SELECT
			ref.product_id
		FROM
			aa_product_ref ref
		WHERE
			ref.is_delete = 0
		AND ref.score_id = #{id}
    </select>

	<select id="getPage" resultMap="productSimpleResDto">
		SELECT
			p.id,
			p.`name`,
			p.type_id,
			fg.`name` AS typeName,
			p.time_limit,
			p.highlight,
			p.buy_start_point
		FROM
			aa_question_score qs
		LEFT JOIN aa_product_ref ref ON qs.id = ref.score_id
		LEFT JOIN product p ON ref.product_id = p.id
		LEFT JOIN field_group fg ON p.type_id = fg.id
		<include refid="getProductListCount_where" />
		<include refid="limitSql" />
	</select>


	<select id="getPageCount" resultType="Integer">
		SELECT
			count(p.id)
		FROM
			aa_question_score qs
		LEFT JOIN aa_product_ref ref ON qs.id = ref.score_id
		LEFT JOIN product p ON ref.product_id = p.id
		LEFT JOIN field_group fg ON p.type_id = fg.id
		<include refid="getProductListCount_where" />
	</select>

	<sql id="getProductListCount_where">
		<where>
			qs.is_delete = 0
			AND p.is_delete = 0
			AND fg.is_delete = 0
			AND fg.is_enabled = 1
			<if test="userId!=null">
				and qs.user_id =  #{userId}
			</if>
			<if test="assetId!=null">
				and qs.id =  #{assetId}
			</if>
		</where>
	</sql>
    
    
    <sql id="limitSql">
		LIMIT #{offset}, #{pageSize}
	</sql>
    
    
</mapper>
