<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd


        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">

    <!-- <context:component-scan base-package="com.zcmall.crmms.controller"
        /> -->
    <!--DefaultAnnotationHandlerMapping AnnotationMethodHandlerAdapter -->

    <mvc:annotation-driven conversion-service="conversionService"
                           validator="validator">
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/*;charset=UTF-8</value>
                        <value>application/*;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <bean
                    class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss"/>
                            </bean>
                        </property>
                    </bean>
                </property>
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 校验器 -->
    <bean id="validator" class="com.yundao.core.validator.spring.SpringValidator">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>

    <bean id="messageSource"
          class="com.yundao.core.code.config.spring.SpringCodeMessageSource"/>

    <bean id="conversionService"
          class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.yundao.core.converter.date.SpringDateConverter">
                    <property name="pattern" value="yyyy-MM-dd HH:mm:ss,yyyy-MM-dd HH:mm,yyyy-MM-dd"></property>
                </bean>
                <bean class="com.yundao.core.converter.integer.SpringIntegerConverter"/>
                <bean class="com.yundao.core.converter.doubles.SpringDoubleConverter"/>
            </list>
        </property>
    </bean>


    <bean id="sca" class="com.yundao.core.aware.spring.SpringServletContextAware"
          init-method="init"/>

    <bean class="com.yundao.tenant.ApplicationStartupListener"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/swagger-ui.html"/>
            <mvc:exclude-mapping path="/swagger-resources"/>
            <mvc:exclude-mapping path="/v2/api-docs"/>
            <mvc:exclude-mapping path="/configuration/security"/>
            <mvc:exclude-mapping path="/configuration/ui"/>
            <mvc:exclude-mapping path="/**/fonts/*"/>
            <mvc:exclude-mapping path="/**/*.css"/>
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.gif"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/**/*.jpeg"/>
            <mvc:exclude-mapping path="/**/cache/*"/>
            <bean class="com.yundao.tenant.interceptor.TenantHeaderUserInterceptor">
                <property name="excludeUrl"
                          value="/cache/remove/resource/base,/cache/remove/resource/byuser,/cache/remove/data/permission"></property>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>
