<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd 
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.yundao.tenant.service"/>
    <bean id="SpringUtils" class="com.yundao.tenant.util.SpringUtils"></bean>


    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.yundao.tenant.mapper"/>
    </bean>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="insert*" propagation="REQUIRED" rollback-for="BaseException"/>
            <tx:method name="add*" propagation="REQUIRED" rollback-for="BaseException"/>
            <tx:method name="update*" propagation="REQUIRED" rollback-for="BaseException"/>
            <tx:method name="delete*" propagation="REQUIRED" rollback-for="BaseException"/>
            <tx:method name="process*" propagation="REQUIRED" rollback-for="BaseException"/>
            <tx:method name="save*" propagation="REQUIRED" rollback-for="BaseException"/>
            <tx:method name="do*" propagation="REQUIRED" rollback-for="BaseException"/>
            <tx:method name="*" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="txServiceMethod"
                      expression="execution(* com.yundao.tenant.service..*.*(..))"/>
        <aop:advisor pointcut-ref="txServiceMethod" advice-ref="txAdvice"/>
    </aop:config>

</beans>
