<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.yundao.tenant.mapper.product.productnoticetype.ProductNoticeTypeMapper">

    <resultMap id="ProductNoticeTypeResult" type="com.yundao.tenant.model.base.product.BaseProductNoticeType" extends="com.yundao.tenant.mapper.base.product.BaseProductNoticeTypeMapper.BaseResultMap">
    </resultMap>
</mapper>
